In [1]:
import pandas as pd
import numpy as np
import json
import zipfile

Leer el fichero json que hay dentro del zip

In [2]:
archive = zipfile.ZipFile('../data/twitter_202006111846.zip', 'r')
data = archive.read('twitter_202006111846.json')
type(data)

bytes

El tipo de datos es bytes. Hay que convertirlo a string.

In [3]:
data = data.decode("utf-8")

Convertir el string en un diccionario.

NOTA: Si intentamos convertir el string dará el siguiente error:

`JSONDecodeError: Invalid control character at: line 539336 column 40 (char 28093954)`

El problema es que hay un carácter de fin de fichero (código ascii 1C en hexadecimal). Hay que eliminar ese carácter.

In [4]:
data = data.replace('\x1c', '')
data = json.loads(data)

Si inspeccionamos el json vemos que consiste en una clave y una lista de tweets.

A continuación extraemos los tweets.

In [5]:
print(type(data))
print(list(data.keys()))

tweets = data["select * from twitter where tw_horacreacion > '2020-01-01'"]
len(tweets)

<class 'dict'>
["select * from twitter where tw_horacreacion > '2020-01-01'"]

43697

Finalmente con el diccionario podemos crear un dataframe de pandas

In [6]:
df = pd.DataFrame.from_dict(tweets)
df.head()

,id_tweet,id_tweet_orig,id_usuario,nom_usuario,nom_completo_usuario,desc_usuario,id_usuario_orig,nom_usuario_orig,nom_completo_usuario_orig,desc_usuario_orig,...,tw_ubicacion,tw_ubicacion_orig,tw_horacreacion,tw_horacreacion_orig,tw_retwitteadopor,tw_twitteadopor,tw_recuento_rt,tw_recuento_rt_orig,it_destino_final,it_destino_orig_final
0,1212163587294167040,None,87613968,docraghu8,Raghupathy Anchala,Professor | Public Health & Primary Care Speci...,,None,None,None,...,"Pune, India",None,2020-01-01T00:08:14.000Z,None,docraghu8,None,0,,None,None
1,1212164231602114560,1212019166107975680,16511904,SimiMishraSM,simi.mishra.sm,A consultant with a passion for developing ski...,2397494744,CDF_India,Connecting Dreams Foundation,Connecting 10 Million SDG Dreams by 2025!,...,India,India,2020-01-01T00:10:48.000Z,2019-12-31T14:34:22.000Z,SimiMishraSM,CDF_India,1,1,None,None
2,1212165341532565505,1212146612203638784,855368138,PIMESind,Regals Republicans,Botiga online de regals independentistes.,970957796593360896,lifeclimark,Life Climark,El projecte CLIMARK té com a principal objecti...,...,Mollet del Vallès,,2020-01-01T00:15:13.000Z,2019-12-31T23:00:47.000Z,PIMESind,lifeclimark,3,3,None,None
3,1212165669682401282,1212146612203638784,349009349,borgenstudio,Borgen Studio,a BORGEN STUDIO ajudem a les empreses a ajusta...,970957796593360896,lifeclimark,Life Climark,El projecte CLIMARK té com a principal objecti...,...,"Mollet del Vallès, Barcelona",,2020-01-01T00:16:31.000Z,2019-12-31T23:00:47.000Z,borgenstudio,lifeclimark,3,3,None,None
4,1212166239239462912,1212132598903910400,898824456864485376,HousingFirstUK,#HousingFirst UK,Housing First UK - Connecting people for #Hous...,893810346,Zebra_carol,Carol Ann Whitehead FRSA GGA The Zebra Partner...,"Publishing, Events & Campaign specialist | #Ze...",...,"London, England",Global Citizen born ??????,2020-01-01T00:18:47.000Z,2019-12-31T22:05:06.000Z,HousingFirstUK,Zebra_carol,3,3,None,None

In [7]:
df.shape

(43697, 24)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43697 entries, 0 to 43696
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_tweet                   43697 non-null  object
 1   id_tweet_orig              29598 non-null  object
 2   id_usuario                 43697 non-null  object
 3   nom_usuario                43697 non-null  object
 4   nom_completo_usuario       43697 non-null  object
 5   desc_usuario               43697 non-null  object
 6   id_usuario_orig            43697 non-null  object
 7   nom_usuario_orig           29598 non-null  object
 8   nom_completo_usuario_orig  29598 non-null  object
 9   desc_usuario_orig          29598 non-null  object
 10  tw_texto                   43697 non-null  object
 11  tw_texto_orig              29598 non-null  object
 12  tw_idioma                  43697 non-null  object
 13  tw_idioma_orig             29598 non-null  object
 14  tw_ubicacion               43697 non-null  object
 15  tw_ubicacion_orig          29598 non-null  object
 16  tw_horacreacion            43697 non-null  object
 17  tw_horacreacion_orig       29598 non-null  object
 18  tw_retwitteadopor          43697 non-null  object
 19  tw_twitteadopor            29598 non-null  object
 20  tw_recuento_rt             43697 non-null  object
 21  tw_recuento_rt_orig        43697 non-null  object
 22  it_destino_final           0 non-null      object
 23  it_destino_orig_final      0 non-null      object
dtypes: object(24)
memory usage: 8.0+ MB

In [9]:
df.drop(['it_destino_final', 'it_destino_orig_final'], axis=1, inplace=True)

Vamos a ver el idioma de los _tweets_

In [10]:
df['tw_idioma'].value_counts()

es     25395
en     13256
ca      1130
und      778
ja       702
fr       429
pt       351
it       323
nl       308
de       240
tr       146
sv       126
fi        98
in        95
cs        81
da        58
hi        24
no        24
pl        23
eu        22
tl        18
ro        15
ru        12
zh         8
sl         5
bn         5
et         4
ar         3
th         3
is         3
ht         2
hu         2
uk         2
te         2
lt         1
ur         1
cy         1
kn         1
Name: tw_idioma, dtype: int64

In [11]:
df[df['tw_idioma'] == 'ru']['tw_texto']

1709     @bonbonsbonbons @kolezev ? ????????? ???????? ...
2705     RT @TheWorldOnlyOrg: ?? ?????? ?????? ????????...
2758     RT @TheWorldOnlyOrg: ?? ?????? ?????? ????????...
3100     #??? 2020-???? 5 ?????? ?????????? ?????????. ...
6496     ?????? ???????? ??????????? ???? ????? ??? ???...
6498     ?????? ???????? ??????????? ???? ????? ??? ???...
9808     @pluffy_void @SocFemRu ???! ??? ??????:) ? ???...
9897     ??????, ?? ?????????? ???? ?????????????? ? ??...
10392    RT @OpenShkola: ??????, ?? ?????????? ???? ???...
14893    #ods ???????? ??????. ?????? ?? ??????????? 5 ...
33381    19 ????? ?? ???????? #??? #??? ????????? ?????...
33382    RT @mission_russian: 19 ????? ?? ???????? #???...
Name: tw_texto, dtype: object

Seleccionamos sólo los _tweets_ en castellano.

In [12]:
df_es = df[df['tw_idioma'] == 'es']

In [13]:
df_es.shape

(25395, 22)

Hay que tener en cuenta si se trata de un _retweet_. En ese caso el texto está en el campo `tw_texto_orig`. Si es un _tweet_ original el texto está en `tw_texto`.

In [14]:
texto = np.where(df_es['tw_texto'].str.startswith('RT'), df_es['tw_texto_orig'], df_es['tw_texto'])
df_es = pd.concat([df_es, pd.DataFrame(texto, columns=['texto'], index=df_es.index)], axis=1)
df_es['texto']

6        #promotoresods les desea feliz año. Nuestro lu...
7        Aplicación de un riego de agua depurada con en...
8        ??Es lunes de estreno ????????\nLos esperamos ...
9        A una década para cumplir con los objetivos de...
10       ???Nº 329\n??#HomenajeAlMunicipalismo en el @S...
                               ...
43690    Documento #CEPAL examina las tendencias económ...
43693    Ámsterdam demuestra que no es ninguna quimera ...
43694    ¡Aprovecha tu tiempo de confinamiento! En el b...
43695    Un pilar del mandato de la Fundación es promov...
43696    Casa Valle Imperial                           ...
Name: texto, Length: 25395, dtype: object

In [15]:
df_es.shape

(25395, 23)